* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #222222;
	width: auto;

}

.container {
	margin: 0px auto;
	max-width: 60rem;
}

.slider {
	background-color: #333333;
	overflow: hidden;
	padding: 3%;
	margin: 3%;
	border-radius: 1%;
}

.slider__img {

}

.slider__img-preinner {
	overflow: hidden;
	border-radius: 1%;

}

.slider__img-inner {
	display: flex;
	flex-direction: row;
}

.slider__img-img {
	min-width: 100%;
	max-width: 100%;
}

.slider__title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #AAAAAA;
	padding: 3% 0;
}

.slider__title-preinner {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.slider__title-inner {
	display: flex;
	flex-direction: row;
	width: auto;
	min-width: 80%;
}

.slider__title-text {
	flex: 0 0 100%;
	margin-left: 0.05rem;
}

.slider__buttons {
	display: flex;
	flex-direction: row;
	margin-left: 1.5rem;
}

.slider__button {
	padding: 0.5rem 0.5rem;
	cursor: pointer;

}

.slider__control {
	height: 1rem;
	width: 1rem;
	background-color: #71abfe;
	border-color: #71abfe;
	cursor: pointer;
	border-radius: 2rem;
}

.slider__button:hover .slider__control {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.radio {
	display: none;
}

#radio1, #radio2, #radio3, #radio4 {
	cursor: pointer;
}

.slider__img-inner, .slider__title-inner {
	transition: all ease 0.5s;
}

.slider__control {
	transition: all ease 0.3s;
}

#radio1:checked ~ .slider__img > .slider__img-preinner > .slider__img-inner {
    transform: translateX(-0%);

}

#radio2:checked ~ .slider__img > .slider__img-preinner > .slider__img-inner {
    transform: translateX(-100%);	
}

#radio3:checked ~ .slider__img > .slider__img-preinner > .slider__img-inner {
    transform: translateX(-200%);
}

#radio4:checked ~ .slider__img > .slider__img-preinner > .slider__img-inner {
    transform: translateX(-300%);
}

#radio1:checked ~ .slider__title > .slider__title-preinner > .slider__title-inner {
	transform: translateX(-0%);	
}

#radio2:checked ~ .slider__title >  .slider__title-preinner > .slider__title-inner {
	transform: translateX(-100%);	
}

#radio3:checked ~ .slider__title > .slider__title-preinner > .slider__title-inner {
	transform: translateX(-200%);	
}

#radio4:checked ~ .slider__title >  .slider__title-preinner > .slider__title-inner {
	transform: translateX(-300%);	
}

#radio1:checked ~ .slider__title > .slider__buttons > .slider__button > .slider__control-1 {
	border-style: solid;
	border-width: 0.15rem;
	background: transparent;
}

#radio2:checked ~ .slider__title > .slider__buttons > .slider__button > .slider__control-2 {
	border-style: solid;
	border-width: 0.15rem;
	background: transparent;

}

#radio3:checked ~ .slider__title > .slider__buttons > .slider__button > .slider__control-3 {
	border-style: solid;
	border-width: 0.15rem;
	background: transparent;

}

#radio4:checked ~ .slider__title > .slider__buttons > .slider__button > .slider__control-4 {
	border-style: solid;
	border-width: 0.15rem;
	background: transparent;
}

@media screen and (max-width: 30rem){
    .slider__title {
		flex-direction: column-reverse;
    }

	.slider__buttons {
		justify-content: center;
		padding: 0 0 3% 0;
		margin-left: 0;
	}

	.slider__title-text {

	}
}